body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
    font-weight: bolder;
}

h3 {
    font-weight: 900;
}

.ornge-color {
    color: orange;
}

.banner-section {
    display: flex;
    background-image: url(imgs/top-banner.png);
    background-repeat: no-repeat;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
}

.hire-me-button {
    text-decoration: none;
    background-image: -webkit-linear-gradient(rgb(224, 162, 47), orange);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.dream-big {
    display: flex;
    background-image: url(imgs/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.dream-img {
    width: 60%;
}

.exp {
    display: flex;
    background-image: url(imgs/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.box {
    box-shadow: 10px 10px 40px gray;
    width: 40%;
}

.border-left-red {
    border-left: 5px solid red;
    margin-left: 40px;
}

.border-left-red {
    border-left: 5px solid red;
    margin-left: 40px;
}

.border-left-green {
    border-left: 5px solid #2600ff;
    margin-left: 40px;
}

footer p {
    text-align: center;
    margin-top: 90px;
}

.exp h1 {
    font-size: 40px;
}

.exp h3 {
    color: orange;
}